/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font-family); 
  background-color: var(--bg-color);
  font-size: var(--font-size);
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  max-inline-size: 375px;
  gap: 50px;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  padding: var(--page-padding);
  padding-bottom: 66px;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 75px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  line-height: 18px;
  border: 1px transparent solid;
  color: var(--button-color, rgb(255 0 112));
  padding: 2px 13px 4px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px var(--button-color) solid;
}

.header__theme-menu-button:hover {
  border: 1px var(--hover-border-color) solid;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--button-color) solid;
}

.header__title {
  color: var(--stage-color);
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__description {
  background-color: var(--accent-color);
  font-weight: var(--font-weight-bold);
}

.header__decorative-inscription {
  position: absolute;
  top: 10px;    
  right: 37px;    
  color: var(--accent-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  font-family: var(--font-family);
  text-transform: uppercase;
  /* width: 25px;
  height: 25px; */
}

.header__decorative-inscription::after {
  content: "";
  position: absolute;
  right: -19px;
  top: 7px;
  background-color: var(--accent-color);
  block-size: 9px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
  bottom: 10px;
  left: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--accent-color);
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
  top: 10px;
  right: 10px;
}

.main {
  display: grid;
  gap: 50px;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  max-inline-size: 375px;
  padding: 0 var(--page-padding);
}

.content__title {
  color: var(--title-text-color);
  margin-block-end: 20px;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.content__item-title {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.content__item-text {
  color: var(--main-text-color);
  margin-block-end: 20px;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.list__item-title {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
}

.list__title {
  color: var(--subtitle-text-color);
  background-color: var(--accent-color);
  margin-block-end: 20px;
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
}

.list__text {
  color: var(--main-text-color);
  margin-block-end: 20px;
}

.content__gallery {
  display: grid;
  max-inline-size: 375px;
}

.content__gallery-item {
  display: grid;
  margin-block-end: 10px;
}

.content__gallery-img {
  display: block;
  block-size: 100%;
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  min-block-size: 668px;
}

.footer__title {
  color: var(--stage-color);
  font-weight: var(--font-weight-bold);
  font-size: 116px;
  text-shadow: 2px 2px 0 var(--accent-color);
}