/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-family: var(--font-family);
  font-size: var(--font-size); 
  background-image: var(--bg-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  margin-block-end: 40px;
  padding: 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  justify-self: end;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  border: 1px transparent solid;
  padding: 2px 13px 4px;
  color: var(--button-color);
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px var(--button-color) solid;
}

.header__theme-menu-button:hover {
  border: 1px var(--hover-border-color) solid;
}

.header__theme-menu-button:focus {
  outline: none;
  border-top: none;              
  border-left: none;            
  border-right: none;            
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px var(--button-color) solid;
}

.link {
  color: var(--link-color);
  text-decoration: none; 
  text-shadow: 1px 1px 0 var(--link-shadow); 
}

.link:active {
  color: var(--link-color);
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus {
  outline: none;
  border: 1px solid currentColor;
}

.link:focus-visible {
  border: 1px solid currentColor;
}

.header__title {
  color: var(--stage-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--header-shadow);
  line-height: 82.5%;
}

.header__description {
  font-weight: var(--font-weight-bold);
  background-color: var(--accent-color);
}

.header__decorative-inscription {
  position: absolute;
  top: 10px;    
  right: 35px;    
  color: var(--accent-color);
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  text-transform: uppercase;
}

.header__decorative-inscription::after {
  content: "";
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  block-size: 9px;
  aspect-ratio: 1;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decorate-color);
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decorate-color);
  border-top: none;
  border-right: none;
}

.main {
  /* display: grid; */
  padding: var(--page-padding);
  /* gap: 50px; */
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
  /* padding: 0 var(--page-padding); */
  /* max-inline-size: 375px; */
}

.content__title {
  margin-block-end: 20px;
  color: var(--title-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
}

.content__item-title {
  margin-block-end: 10px;
  color: var(--subtitle-text-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.content__item-text {
  margin-block-end: 20px;
  color: var(--main-text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}

.title-rools {
  margin-top: 5px;
  margin-bottom: 15px;
}

.list__title {
  /* margin-top: 10px; */
  margin-block-end: 20px;
  color: var(--subtitle-text-color);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  background-color: var(--accent-color);
}

.list__text {
  margin-block-end: 10px;
  color: var(--main-text-color);
}

.gallery__title {
  margin-block-end: 10px;
}
.content__gallery {
  margin-block-end: 40px;
}

.content__gallery-img {
  display: block;
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
  margin-block-end: 10px;
}

.footer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-align: center;
  min-block-size: 668px;
  height: 100vh;
  padding: var(--page-padding);
}

.footer__title {
  color: var(--stage-color);
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--footer-shadow);
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding-left: 0;
    padding-right: 20px;
    margin-block-end: 60px;
  }

  .header__title {
    text-wrap: nowrap;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__decorative-inscription {
    top: 20px;    
    right: 45px;    
  }

  .header__decorative-inscription::after {
    top: 8px;
    right: -19px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 15px;
  }

  .header__description {
    max-inline-size: 364px;
    justify-self: end;
  }

  .content {
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-block-end: 70px;
    padding: var(--page-padding);
    /* padding-right: 0; */
  }

  .content__title {
    grid-column: 1/2;
  }

  .content__item-title {
    max-width: 472px;
  }

  .content__item-text {
    max-width: 472px;  
  }

  .content__item {
    grid-column: 2/4;
    /* max-inline-size: 472px; */
  }

  .concentration__reduction {
    display: flex;
    flex-direction: column;
    margin-block-end: 60px;
  }

  .concentration__title {
    inline-size: 236px;
    margin-bottom: 0;
  }

  .concentration__item-title {
    max-width: 728px;
    max-height: 23px;
    margin-bottom: 10px;
  }

  .concentration__item-text {
    max-width: 728px;
  }

  .list {
    max-width: 472px;
  }

  .title-rools {
    margin-bottom: 20px;
  }

  .list__title {
    margin-block-end: 10px;
  }

  .list__text {
    margin-block-end: 20px;
  }

  .content__gallery {
    padding: var(--page-padding);
    margin-block-end: 60px;
  }

  .content__gallery-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__gallery-img {
    margin-block-end: 0;
  }

  .gallery__title {
    min-width: 728px;
    max-height: 23px;
  }

  .clowd {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .eat {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .music {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .read {
    grid-column: 2/3;
    grid-row: 2/2;
  }

  .walk {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    min-inline-size: 768px;
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    align-items: center;
    min-block-size: 768px;
  }

  .header__theme-menu {
    align-self: start;
    justify-self: center;
  }

  .header__description {
    max-inline-size: 491px;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .decorated-zone::after {
    bottom: 60px;
    left: 15px;
  }

  .content__item-title {
    max-inline-size: 649px;
  }

  .content__item-text {
    max-inline-size: 649px;  
  }
  
  .concentration__title {
    min-inline-size: 315px;
  }

  .concentration__item {
    display: flex;
    gap: 20px;
  }

  .list {
    max-width: 649px;
  }

  .list__title {
    margin-bottom: 15px;
  }

  .content__gallery {
    min-inline-size: 984px;

  }

  .gallery__title {
    min-inline-size: 984px;
    max-height: 23px;
  }

  .footer {
    min-inline-size: 984px;
    min-block-size: 668px;
    margin-right: 10px;
    width: 100vw;
  }
}