/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --font-weight: normal;
  --font-weight-bold: bold;
  --font-size: 18px;
  --bg-color: #000028;
  --accent-color: #ff0070;
  --decorate-color: #ff0070;
  --main-text-color: #F1B2CE;
  --title-text-color: #FF0070;
  --header-shadow: #ff0070;
  --footer-shadow: #ff0070;
  --theme-text-color: #FF0070;
  --subtitle-text-color: #000028;
  --stage-color: #DB00FF;
  --button-color:#ff0070;
  --hover-border-color: rgb(255 0 112 / 0.4);
  --bg-image: url(../images/cover-image-dark.png);
  --page-padding: 10px;
}